node_modules
.env
.env.test
workspace
artifacts
builds
# Deploy Engine Apps (Keep dir, ignore content)
packages/deploy-engine/apps/*
!packages/deploy-engine/apps/.gitkeep

dist/
packages/*/dist/

*.pem
server.pid
debug.log
